// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    --grey: rgba(128, 128, 128, 0.344);
    --light-grey: rgba(141, 140, 140, 0.22);
    --orange: rgba(235, 118, 41, 0.981);
    --black-font: rgba(0, 0, 0, 0.809);

    --bg-header: var(--grey);
    --bg-1: var(--light-grey);

    --color-1: var(--black-font);
    --color-2: var(--orange);

    --box-shadow: 0 1px 3px black;
    --border-radius-input: 2px;

    font-size: 11pt;
    // font-family: 'Comfortaa';
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Open Sans', sans-serif;

    color: var(--color-1);
}

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1%;
}

.return-link {
    margin: 0% 0% 0% 2%;
}

/* HEADER */
#general-header {
    padding: 2%;
    background-color: var(--bg-header);

    #log-info {
        margin-bottom: 2%;
    }
    ul {
        width: 60%;
        display: flex;
        gap: 20%;
    }
    a {
        color: rgba(0, 0, 0, 0.871);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
    }
}

/* CONTAINER */ 
.container {
    margin: 2%;
    header {
        background-color: var(--bg-header) !important;
        padding: 2%;
        >* {
            margin: 1%;
        }
    }
    .content {
        padding: 2%;
    }
}

#login-main-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2% auto;
}

