html {
    --grey: rgba(128, 128, 128, 0.344);
    --light-grey: rgba(141, 140, 140, 0.22);
    --orange: rgba(235, 118, 41, 0.981);
    --black-font: rgba(0, 0, 0, 0.809);


    --bg-header: var(--grey);
    // --bg-header: red;
    --bg-1: var(--light-grey);

    --color-1: var(--black-font);
    --color-2: var(--orange);

    --box-shadow: 0 1px 3px black;
    --border-radius-input: 2px;

    font-size: 12pt;
    color: var(--color-1);
}

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1%;
}


/* HEADER */
#general-header {
    padding: 2%;
    background-color: var(--bg-header);

    #log-info {
        margin-bottom: 2%;
    }
    ul {
        width: 60%;
        display: flex;
        gap: 20%;
    }
    a {
        // text-decoration: none;
        color: rgba(0, 0, 0, 0.871);
        // color: var(--color-2);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
    }
}

/* CONTAINER */ 
.container {
    margin: 2%;
    header {
        background-color: var(--bg-header) !important;
        padding: 2%;
        >* {
            margin: 1%;
        }
    }
    .content {
        padding: 2%;
    }
}

#login-main-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

