html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white-font);
}
body {
    background-color: rgba(0, 0, 0, 0.96);
}
main {
    background-color: var(--bg-1);

    & header:first-child {
        background-color: var(--light-grey);
    }
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--grey-font);
    font-weight: bold;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea, button {
    padding: 1%;
    background-color: var(--grey);
    border: 1px solid var(--light-grey-2);
    border-radius: var(--border-radius-input);
    &:focus {
        outline: none;
        border: 1px solid var(--light-grey);
    }
}
button {
    background-color: var(--bg-1);
}
fieldset {
    border: none;
    width: 70vw;
}

.return-link {
    padding: 2%;
    background: linear-gradient(to bottom, #0000004a, #0d0d0da3);
    display: flex;
    justify-content: center;
    // a {
    //     @extend .green-link;
    // }
}

/* HEADER */
#general-header {
    padding: 4% 4% 0 4%;
    background-color: var(--bg-header);
    border-bottom: var(--border);


    #log-info {
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;
    }
    ul {
        // padding: 2% 0 1%;
        width: 60%;
        display: flex;
        gap: 20%;
    }
    a {
        // border: 1px solid white;
        color: rgba(0, 0, 0, 0.871);
        color: var(--color-a);

        text-transform: uppercase;
        font-size: 0.9rem;
        text-decoration: none;
        &:hover {
            // background-color: rgba(155, 155, 155, 0.14);
            border-bottom: var(--border);
        }
    }
    li {
        padding: 2% 2% 0 2%;
        padding: 2%;
        // border: 1px solid black;
    }

}

/* CONTAINER */ 
.container {
    
    // margin: 2%;
    header {
        background-color: var(--bg-header) !important;
        // background-color: var(--bg-1) !important;

        padding: 2%;
        >* {
            margin: 1%;
        }
    }
    .content {
        padding: 2%;
    }
}

.main-container {
    // background: url('../../images/banniere-mix.png');
    background: url('../../images/banniere.jpg');
    background: url('../../images/pexels-sam-clarke-3541209.jpg');
    // background: linear-gradient(to top,#2a2246a3, #51565b0a), url("../../images/pexels-sam-clarke-3541209.jpg");
    // background: url('../../images/pexels-stephen-niemeier-63703.jpg');
    // background: linear-gradient(to top,#2a2246a3, #51565b0a), url('../../images/pexels-stephen-niemeier-63703.jpg');

    background: linear-gradient(to bottom, #2331199e, #0d0806c2), url("../../images/pexels-stephen-niemeier-63703.jpg");

    background-size: cover;
    background-position: center;

    >header {
        // background-color: var(--grey) !important;

    }
}
#admin-main-container {
    background: linear-gradient(to bottom, #2331199e, #0d0806c2), url('../../images/pexels-sam-clarke-3541209.jpg');
    background-size: cover;
    background-position: center;
}

#login-main-container {
    max-width: 320px;
    margin-bottom: 2%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2% auto;
}

