/* QUERIES */ 
@media screen and (min-width: 800px) {
    .offer-container {
        // width: 30%;
        width: 400px;
        max-width: 400px;
    }
}
@media screen and (max-width: 500px) {
    .offer-container {
        width: 95vw !important;
        min-width: 300px !important;
    }
}
/* SHOW */
@media screen and (min-width: 800px) {
    .main-show-offer {
        display: flex;
        justify-content: space-evenly;
    }
    #general-header {
        ul {
            width: 80% !important;
            justify-content: space-between;
            gap: inherit;
        }
    }
    .seller-container {
        width: 30%;
        min-width: 200px;
    }
    .form-contact {
        .content div {
            display: flex;
            flex-flow: column;
            justify-content: center;
            // flex-direction: column;
            margin: 4%;
        }
        input {
            margin: 2% auto;
        }
    }
}


@media screen and (max-width: 800px) {
    .main-show-offer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offer-show-container {
        width: 90%;
        min-width: 270px;
        max-width: 90%;

    }
    .img-preview {
        height: auto;
        max-height: 40vh;
    }
    #general-header {
        ul {
            width: 100% !important;
            justify-content: space-between;
            gap: inherit;
        }
    }
    .seller-container {
        width: 90%;
        min-width: 270px;
        max-width: 400px;
    }
}

