html {
    --grey: rgba(128, 128, 128, 0.344);
    --light-grey: rgba(141, 140, 140, 0.22);
    --orange: rgba(235, 118, 41, 0.981);
    --black-font: rgba(0, 0, 0, 0.809);

    --box-shadow: 0 1px 3px black;

    --bg-header: var(--grey);
    // --bg-header: red;
    --bg-1: var(--light-grey);

    --color-1: var(--black-font);
    --color-2: var(--orange);

    font-size: 12pt;
    color: var(--color-1);
}


html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */
#general-header {
    padding: 2%;
    background-color: var(--bg-header);

    #log-info {
        margin-bottom: 2%;
    }

    ul {
        width: 60%;
        display: flex;
        gap: 20%;
    }

    a {
        // text-decoration: none;
        color: rgba(0, 0, 0, 0.871);
        // color: var(--color-2);

        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
    }
}





/* CONTAINER */ 
.container {
    margin: 2%;
    // border: 1px solid black;

    box-shadow: 1px 1px 0 3p;

    header {
        // padding: 2%;
        background-color: var(--bg-header);
        padding: 2%;
        >* {
            margin: 1%;
        }
        .offer-title {
            margin-bottom: 3%;
        }
    }
    .content {
        padding: 2%;
    }
}

.offer-container {
    box-shadow: var(--box-shadow);
    min-width: 320px;
    max-width: 400px;

    // height: 300px;

    .offer-header {
        height: 20%;
        display: flex;
        justify-content: space-between;
    }
    .offer-sub-header {
        display: flex;
        justify-content: space-between;
    }

    .offer-price {
        color: var(--orange);
    }
    .offer-date {
        font-size: 0.75rem;
        width: max-content;
    }
    .offer-place {
        width: max-content;
        display: flex;
        gap: 5px;
    }

    .content {
        padding: 0;
        height: 100%;
        display: flex;

        .img-container {
            width: 68%;
            height: 100%;
        }

        .img-preview {
            width: 100%;

            figure {
                // width: 100%;
                height: 100%;

                overflow: hidden;
            }
            img {
                // width: 100%;
                height: 100%;
                max-height: 200px;
            }
        }

        .offer-description {
            width: 32%;
            padding: 2%;

            background-color: var(--bg-1);
        }
    }
}


.img-mini {
    margin: 2%;
    display: flex;
    justify-content: space-around;

    figure {
        margin: 2%;
    }

    figcaption {
        font-size: 0.7rem;
    }
}

#login-main-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* FORM */
.form-container {
    width: 300px;
}
form {
    margin: 1%;
    div {
        display: flex;
        justify-content: space-between;
    }
    input {
        margin: 1% 0;
    }
}