@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html {
  --grey: rgba(128, 128, 128, 0.344);
  --light-grey: rgba(141, 140, 140, 0.22);
  --light-grey-2: rgba(41, 41, 41, 0.699);
  --orange: rgba(235, 118, 41, 0.981);
  --orange: rgba(210, 111, 49, 0.767);
  --orange-soft: rgba(225, 110, 41, 0.87);
  --red: rgba(198, 34, 34, 0.66);
  --black-font: rgba(0, 0, 0, 0.809);
  --grey-font: rgba(57, 56, 56, 0.809);
  --grey-font: rgba(206, 205, 205, 0.81);
  --white-font: rgba(184, 184, 184, 0.809);
  --green-font: rgba(89, 235, 41, 0.687);
  --green-font: rgba(89, 168, 62, 0.756);
  --bg-header: var(--grey);
  --bg-header: var(--black-font);
  --bg-header-2: var(--grey-font);
  --bg-1: var(--light-grey);
  --bg-1: var(--black-font);
  --bg-2: var(--light-grey-2);
  --color-1: var(--black-font);
  --color-1: var(--white-font);
  --color-2: var(--orange);
  --color-3: var(--grey-font);
  --box-shadow: 0 1px 3px black;
  --box-shadow: 1px 1px 10px #938d8d37;
  --border-radius-input: 2px;
  --border: 1px solid var(--grey);
  font-size: 11pt;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Open Sans", sans-serif;
  --color: var(--color-1);
  --color: var(--white-font);
  --color-a: var(--color-1);
  --color-a: var(--white-font);
}

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white-font);
}

body {
  background-color: rgba(0, 0, 0, 0.96);
}

main {
  background-color: var(--bg-1);
}
main header:first-child {
  background-color: var(--light-grey);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--grey-font);
  font-weight: bold;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea, button {
  padding: 1%;
  background-color: var(--grey);
  border: 1px solid var(--light-grey-2);
  border-radius: var(--border-radius-input);
}
input:focus, textarea:focus, button:focus {
  outline: none;
  border: 1px solid var(--light-grey);
}

button {
  background-color: var(--bg-1);
}

fieldset {
  border: none;
  width: 70vw;
}

.return-link {
  padding: 2%;
  background: linear-gradient(to bottom, #0000004a, #0d0d0da3);
  display: flex;
  justify-content: center;
}

/* HEADER */
#general-header {
  padding: 4% 4% 0 4%;
  background-color: var(--bg-header);
  border-bottom: var(--border);
}
#general-header #log-info {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}
#general-header ul {
  width: 60%;
  display: flex;
  gap: 20%;
}
#general-header a {
  color: rgba(0, 0, 0, 0.871);
  color: var(--color-a);
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
}
#general-header a:hover {
  border-bottom: var(--border);
}
#general-header li {
  padding: 2% 2% 0 2%;
  padding: 2%;
}

/* CONTAINER */
.container header {
  background-color: var(--bg-header) !important;
  padding: 2%;
}
.container header > * {
  margin: 1%;
}
.container .content {
  padding: 2%;
}

.main-container {
  background: url("../../images/banniere.jpg");
  background: url("../../images/pexels-sam-clarke-3541209.jpg");
  background: linear-gradient(to bottom, #2331199e, #0d0806c2), url("../../images/pexels-stephen-niemeier-63703.jpg");
  background-size: cover;
  background-position: center;
}
#admin-main-container {
  background: linear-gradient(to bottom, #2331199e, #0d0806c2), url("../../images/pexels-sam-clarke-3541209.jpg");
  background-size: cover;
  background-position: center;
}

#login-main-container {
  max-width: 320px;
  margin-bottom: 2%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% auto;
}

.offers-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
  background: linear-gradient(to bottom, #0000004a, #0d0d0da3);
}

.offer-container {
  box-shadow: var(--box-shadow);
  width: 400px;
  max-width: 400px;
  min-width: 95%;
  margin-bottom: 2%;
  border: 1px solid #ffffff1c;
  border-radius: 1px;
}
.offer-container header {
  background-color: var(--bg-header);
}
.offer-container .offer-header {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.offer-container .offer-header .offer-title {
  margin-bottom: 3%;
}
.offer-container .offer-sub-header {
  display: flex;
  justify-content: space-between;
}
.offer-container .offer-categories {
  min-height: 20px;
}
.offer-container .content {
  padding: 0;
  height: 200px;
  display: flex;
}
.offer-container .content .img-container {
  width: 68%;
  height: 100%;
}
.offer-container .content .img-preview {
  width: 100%;
}
.offer-container .content .img-preview figure {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #2b2d2a5c, #1717165e);
}
.offer-container .content .img-preview img {
  height: 200px;
  max-height: 200px;
}
.offer-container .content .offer-description {
  width: 32%;
  padding: 2%;
  background-color: var(--bg-2);
}

.offer-date {
  font-size: 0.75rem;
  width: max-content;
}

.offer-place {
  width: max-content;
  display: flex;
  gap: 5px;
  font-size: 0.75rem;
}

.offer-price {
  color: var(--orange);
}

.ul-categories {
  display: flex;
  gap: 10px;
}

.img-mini {
  margin: 2%;
  display: flex;
  justify-content: space-around;
}
.img-mini figure {
  margin: 2%;
}
.img-mini figcaption {
  font-size: 0.7rem;
}

.offer-footer {
  padding: 0% 8% 4%;
  display: flex;
  gap: 10%;
}
.offer-footer button {
  padding: 10px;
}

.seller-container {
  box-shadow: var(--box-shadow);
  width: 30%;
  min-width: 200px;
}

#notices {
  width: 50vw;
  min-width: 300px;
  margin: 2% auto;
  padding: 2%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-input);
  text-align: center;
}

.offer-show-container {
  box-shadow: var(--box-shadow);
  max-width: 85%;
  max-width: 800px;
  min-width: 320px;
}
.offer-show-container .offer-header {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.offer-show-container .offer-header .offer-title {
  margin-bottom: 3%;
}
.offer-show-container .offer-sub-header {
  display: flex;
  justify-content: space-between;
}
.offer-show-container .content {
  padding: 0;
  margin: 0;
}
.offer-show-container .content .img-container {
  margin: 0;
}
.offer-show-container .content .img-preview {
  width: 80%;
  height: 400px;
  margin: 0 auto;
}
.offer-show-container .content figure {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.offer-show-container .content img {
  height: 100%;
  max-height: 300;
}
.offer-show-container .content .img-mini {
  margin: 2%;
  display: flex;
  justify-content: space-around;
}
.offer-show-container .content .img-mini figure {
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.offer-show-container .content .img-mini figcaption {
  font-size: 0.7rem;
}
.offer-show-container .content .offer-description {
  padding: 4%;
  background-color: var(--bg-1);
}

.form-contact {
  margin: 1%;
}
.form-contact .content div {
  display: flex;
  justify-content: space-between;
  margin: 4% auto;
}
.form-contact input {
  margin: 1% 0;
}

/* FORM */
.login-form-container {
  width: 300px;
  box-shadow: var(--box-shadow);
  margin-bottom: 4%;
}
.login-form-container form {
  margin: 1%;
}
.login-form-container form div {
  display: flex;
  justify-content: space-between;
}
.login-form-container form input {
  margin: 1% 0;
}

#newoffer-main-container {
  background-size: cover !important;
  background: linear-gradient(to bottom, #060606eb, #11110857), url("../../images/pexels-sam-clarke-3541209.jpg");
  padding-bottom: 4%;
}

.offer-form-container {
  width: 80%;
  max-width: 400px;
  margin: 4% auto;
  padding: 1%;
  box-shadow: var(--box-shadow);
  border: 1px solid #ffffff1c;
  border-radius: 1px;
  background: linear-gradient(to bottom, var(--bg-1), var(--black-font));
}
.offer-form-container .form-inputs div {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.offer-form-container .form-img {
  padding-top: 2%;
}
.offer-form-container .form-img div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.offer-form-container figure {
  margin: 1%;
  display: flex;
  justify-content: start;
  width: max-content;
}
.offer-form-container .img-delete {
  margin: 0% 0% 5% 7%;
}
.offer-form-container input[type=submit] {
  margin: 2%;
  padding: 2%;
}
.offer-form-container h3 {
  margin: 1%;
}

#div-categories {
  margin: 4% auto;
  display: flex;
  flex-direction: column;
}
#div-categories .content {
  background-color: var(--bg-2);
}
#div-categories fieldset {
  border: none;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}
#div-categories fieldset div {
  margin: 0;
  width: 95%;
}

.green-link, .return-link a, .ul-categories a {
  color: var(--green-font);
  text-shadow: 0px 1px 3% var(--green-font);
}
.green-link:hover, .return-link a:hover, .ul-categories a:hover {
  text-shadow: 0px 1px 50px var(--green-font);
  border-bottom: 1px solid rgba(89, 235, 41, 0.31);
}

.orange-link, .offer-form-container .img-delete a {
  color: var(--orange-soft);
  text-shadow: 0px 1px 3% var(--orange);
}
.orange-link:hover, .offer-form-container .img-delete a:hover {
  text-shadow: 0px 1px 50px var(--orange);
  border-bottom: 1px solid rgba(235, 125, 41, 0.31);
}

.user-link, .offer-date a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.194) !important;
}
.user-link:hover, .offer-date a:hover {
  text-shadow: 0px 5px 10% white !important;
  border-color: white;
}

.green-input, .return-link a, .login-form-container input[type=submit], .offer-form-container input[type=submit] {
  color: var(--green-font);
  border: 1px solid var(--green-font);
}
.green-input:hover, .return-link a:hover, .login-form-container input[type=submit]:hover, .offer-form-container input[type=submit]:hover {
  text-shadow: 0px 1px 50px var(--green-font);
  box-shadow: 0 0 2px var(--green-font);
}

.orange-input, #btn-new-category, .edit-link button {
  color: var(--orange-soft);
  border: 1px solid var(--orange-soft);
}
.orange-input:hover, #btn-new-category:hover, .edit-link button:hover {
  text-shadow: 0px 1px 50px var(--orange-soft);
  box-shadow: 0 0 2px var(--orange-soft);
}
.orange-input a, #btn-new-category a, .edit-link button a {
  color: var(--orange-soft);
}

.red-input {
  color: var(--red);
  border: 1px solid var(--red);
}
.red-input:hover {
  text-shadow: 0px 1px 50px var(--red);
  box-shadow: 0 0 2px var(--red);
}
.red-input a {
  color: var(--red);
}

#btn-new-category, .edit-link button {
  background-color: var(--bg-1);
}

.del-link button {
  background-color: var(--red);
}

.return-link a, .login-form-container input[type=submit], .offer-form-container input[type=submit] {
  padding: 1% 2%;
  background-color: var(--bg-1);
}

/* QUERIES */
@media screen and (min-width: 800px) {
  .offer-container {
    width: 400px;
    max-width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .offer-container {
    width: 95vw !important;
    min-width: 300px !important;
  }
}
/* SHOW */
@media screen and (min-width: 800px) {
  .main-show-offer {
    display: flex;
    justify-content: space-evenly;
  }

  #general-header ul {
    width: 80% !important;
    justify-content: space-between;
    gap: inherit;
  }

  .seller-container {
    width: 30%;
    min-width: 200px;
  }

  .form-contact .content div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 4%;
  }
  .form-contact input {
    margin: 2% auto;
  }
}
@media screen and (max-width: 800px) {
  .main-show-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer-show-container {
    width: 90%;
    min-width: 270px;
    max-width: 90%;
  }

  .img-preview {
    height: auto;
    max-height: 40vh;
  }

  #general-header ul {
    width: 100% !important;
    justify-content: space-between;
    gap: inherit;
  }

  .seller-container {
    width: 90%;
    min-width: 270px;
    max-width: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
